html {
    background-color: #341AE5;
    font-family: "Quicksand", sans-serif;
}

.dynapuff-<uniquifier> {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.greeting {
    text-align: center;
    padding: 350px 0px 350px 0px;
    color: #E4E1FC;
}

#name {
    color: #FBDFEA;
    font-size: 60px;
}

.bio { 
    background-color: #FBDFEA;
    padding: 100px;
    color: #E51A66;
    font-size: 30px;
    text-align: center;
    margin: 50px;
    border-radius: 10ch;
}

#header {
    text-align: center;
    color: #E4E1FC;
    font-size: 70px;
    margin: 50px;
}

.samples{
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.caption{
    background-color: #fdda9c;
    color: #db5501;
    padding: 30px;
    margin: 50px;
}

.sample_cue{
    color: white;
    font-size: xx-large;
    place-items: center;
}

.mesamples{
    display: grid;
    grid-template-columns: 55% 45%;
    place-items: center;
}

.mspic{
    height: 500px;
    margin: 50px 20px 20px 20px;
    border-radius: 5ch;
}

.mrcaption{
    padding: 0px 30px 50px 30px;
    font-size: x-large;
}

.main_sample{
    background-color: #fdda9c;
    color: #db5501;
    width: 530px;
    border-radius: 10ch;
}

.espic{
    height: 200px;
    margin: 20px 0px 0px 0px;
}

.extra_samples{
    place-items: center;
}

.extra_sample{
    width: 80%;
    background-color: #fdda9c;
    color: #db5501;
    margin: 10px;
    padding: 10px;
    place-items: center;
    font-weight: bold;
}

.plug{
    background-color: #fdda9c;
    color:#db5501;
    padding: 20px;
    margin: 50px auto 50px auto;
    width: 60%;
    place-items: center;
    text-align: center;
    border-radius: 10ch;
}

.allsamples{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    place-content: center;
}

div.gallery {
  border: 1px;
  background-color: rgb(167, 226, 224);
  color:hsl(177, 90%, 15%);
  font-weight: bold;
  margin: 20px;
  border-radius: 5ch;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  width: 100%;
}

.desc{
    font-size: larger;
}

#content{
    background-color: rgb(249, 187, 187);
    color: #7a0202;
}

#concept{
    background-color: rgb(167, 226, 224);
    color:hsl(177, 90%, 15%)
}

.work_title {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #688543;
    padding: 0px 20px 0px 20px;
    color: #FBDFEA;
    font-size: 20px;
}

.wdate {
    text-align: right;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

.work_meat {
    background-color: #FBDFEA;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: #688543;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    border-radius: 1ch;
}

#job {
    margin: 50px;
}

.skills {
    text-align: center;
}
#ts_title {
    text-align: center;
    font-size: 40px;
    background-color: #E51A66;
    color: #FBDFEA;
    margin: 0px 100px;
    padding: 25px;
    border-radius: 3ch;
}

#nts_title {
    text-align: center;
    font-size: 40px;
    background-color: #E51A66;
    color: #E4E1FC;
    margin: 0px 100px;
    padding: 25px;
    border-radius: 3ch;
}

.technical_skills {
    display: grid;
    grid-template-columns: 300px auto;
    margin: 40px;
}

.skill_title {
    text-align: right;
    margin: 0px 10px;
}

#skill_title {
    background-color:#FBDFEA;
    padding: 10px;
    color: #506734;
    border-radius: 3ch;
}

.skill_meat {
    background-color: #981144;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color:#E8EFDF;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    font-family: "Quicksand", sans-serif;
}

.nontechnical_skills {
    display: grid;
    grid-template-columns: 300px auto;
    margin: 40px;
}

.ntskill_meat {
    background-color: #981144;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color:#E8EFDF;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

//colors
green darker #688543 - green dark #9DBB77 - green light #E8EFDF
pink dark #E51A66 - pink white #FBDFEA
blue dark #341AE5 - blue light #E4E1FC
dark orange #db5501 - light orange #fdda9c
//